*{
    box-sizing: border-box;
}

.container{
    width: 1170px;
    margin: 0 auto;
}

.info{
    background-color: rgb(2, 42, 32);
}

.info__inner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;
}

.item{
    text-align: center;
}

.number{
    font-size: 75px;
    color: rgb(110, 60, 34);
    font-weight: bold;
    margin-bottom: 15px;
}

.text{
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 25px;
    color: aliceblue;
}
